# Node dependencies
node_modules/
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# Metro / bundler cache
.cache/
metro-cache/
.expo-dev/
.metro-health-check*

# Build outputs
android/
ios/
dist/
build/
web-build/

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug & temp files
*.orig.*
*.pem

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# Env files
.env
.env.*
.env*.local

# App example or placeholders
app-example
